PORT=3004

DATABASE_URL=mongodb+srv://**USER**:**PASSWORD**@your_db_location/you_db_name

JWT_SECRET=SUPER_SECRET_KEY

# ----- NATS configuration ----- 
#NATS_SERVERS is an array of strings, so we need to parse it correctly.
#For example, if you have multiple servers, you can set it like this:
# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222

